<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
    <%= link_to 'Add movies', new_list_bookmark_path(@list), class: "btn btn-outline-light" %>
  </div>
</div>
<div class="list-container">
  <h1><%= @list.name %></h1>
  <%= link_to 'Add movies', new_list_bookmark_path(@list) %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
    <li> <%= bookmark.movie.title %>
      <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }  %>
    </li>
    <% end %>
  </ul>
</div>
